.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.Todolist {
  background-color: cadetblue;
  border: 1px solid darkslategray;
  border-radius: 5px;
  padding: 15px;
}